body{
    margin: auto;
}
.container{
    width: 100%;
    background-color: red;
    overflow: hidden;
}
.container ul li{
    list-style: none;
    /* padding: 0px; */
    margin: 10px;
    display: inline;
}
.container ul li a{
    text-decoration: none;

}
.search{
  top:15px;
  right: 10px;
  position: absolute;
}